numpy
scipy
Pillow
pylint
pytest
matplotlib
networkx
opencv-python
pyautogui
pyobjc-core
pyobjc
python-sat
mss

# dev purpose
jupyter
line_profiler[ipython]
graphviz

# presentation purpose
pandas
tabulate
