numpy
scipy
Pillow
networkx
opencv-python
pyautogui
#   required only under macOS
pyobjc-core
#   required only under macOS
pyobjc
python-sat
mss

# dev purpose
jupyter
line_profiler[ipython]
graphviz
matplotlib
pylint
pytest

# presentation purpose
pandas
tabulate
